<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/e1309903af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">  
    <title>Mercado Liebre</title>

</head>

<body class="index-body">
<header>

    <nav class="header-nav-bar">

        <img src="/images/index_jpg/logo-mercado-liebre.svg" alt="logo">        

        <nav class="header-search-bar">

            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
        
            <p>Comprá en cuotas y sin tarjeta de crédito</p>

        </nav>

        <nav class="header-login-bar">

            <ul>

                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>

            <ul>

                <li><a href="">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

            </ul>

        </nav>

        <div class="burger-menu">

            <i class="fas fa-bars"></i>
            
        </div>

    </nav>

</header>



<main class="index-main">

    <section class="index-productos">

        <div class="img-banner">

            <img src="/images/index_jpg/img-home-banner.jpg" alt="banner">

        </div>
            
            <h2 class="index-titles">Basado en tu última visita:</h2>

        <article class="index-articulos">
            
                
                <h2>Cafetera Moulinex</h2>
                <img src="/images/productos_jpg/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <li class="index-precios">$6.770</li>
                <li class="index-descuentos">40% OFF</li>
        
        </article>

        <article class="index-articulos">

            <ul>

                <h2>MacBook Pro 2019</h2>
                <img src="/images/productos_jpg/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <li>$230.000</li>
                <li>20% off</li>
                
            </ul>

        </article>

        <article class="index-articulos">

            <ul>

                <h2>Samsung Galaxy S10</h2>
                <img src="/images/productos_jpg/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <li>$70.500</li>
                <li>10% off</li>

            </ul>

        </article>

        <article class="index-articulos">

            <ul>

                <h2>SmartTv Samsung 43"</h2>
                <img src="/images/productos_jpg/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <li>$23.200</li>
                <li>5% off</li>

            </ul>

        </article>

    </section>

    <section class="index-productos">
        
            <h2>Basado en tu última visita:</h2>

        <article class="index-articulos">
            
            <ul>

                <h2>Cafetera Moulinex</h2>
                <img src="/images/productos_jpg/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <li>$6.770</li>
                <li>40% OFF</li>
                    
            </ul>
            
        </article>
    
        <article class="index-articulos">
    
            <ul>
    
                <h2>MacBook Pro 2019</h2>
                <img src="/images/productos_jpg/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <li>$230.000</li>
                <li>20% off</li>
                    
            </ul>
    
        </article>
    
        <article >
    
            <ul>
    
                <h2>Samsung Galaxy S10</h2>
                <img src="/images/productos_jpg/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <li>$70.500</li>
                <li>10% off</li>
    
            </ul>
    
        </article>
    
        <article class="index-articulos">
    
            <ul>
    
                <h2>SmartTv Samsung 43"</h2>
                <img src="/images/productos_jpg/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <li>$23.200</li>
                <li>5% off</li>
    
            </ul>
    
        </article>

</main>



<footer>

    <section class="footer-section-1">

        <ul>

            <li>

                <i class="fa-regular fa-credit-card"></i>

                <h2>Pagá con tarjeta o efectivo</h2>

                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                
            </li>

        </ul>
        
        <ul> 
                 
            <li>

                <i class="fa-solid fa-gift"></i>

                <h2>Envío gratis desde $2500</h2>

                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            </li>

        </ul>

    </section>

    <section class="footer-section-2">

        <ul>

            <li>

                <i class="fa-solid fa-user-shield"></i>

                <h2>Seguridad, de principio a fin</h2>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                
            </li>

        </ul>

        <ul>

            <li>

                <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>

            </li>

        </ul>

    
    </section>

    <div class="footer-pie-pag">

        <h1>Mercado Liebre</h1>

    </div>

</footer>
    
</body>
</html>



